header {
  text-align: left;
}
body {
  background-color: #2f2f2f;

  margin-bottom: 2em;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
}
h1 {
  color: greenyellow;
  color: white;
  font-family: sans-serif;
  font-size: 2em;

  text-align: left;
}
.nav-brand {
  text-align: left;
  color: greenyellow;
  color: white;
  font-family: monospace;
}
li {
  color: white;
}

.link {
  color: white;
}
#paragraph-two {
  color: white;
}
.far fa-keyboard {
  color: white;
}
#about-me {
  color: white;
}
a:hover {
  color: green;
}
