h1 {
  color: rgb(32, 180, 118);
  text-align: center;
  font-family: monospace, sans-serif;
  padding: 1em;
  background-color: yellow;
  margin: 1em;
}
#introduction {
  text-align: left;
  padding-top: 1em;
  padding-bottom: 5em;
  background-color: green;
 
}
#paragraph-two {
  text-align: left;
  padding-left: 15rem;
  padding-bottom: 6rem;
  background-color: greenyellow;
  margin-left: 12rem;
  margin-right: 3rem;
  justify-self: right;
}
.navigation {
  padding-top: 1rem;
  background-color: yellow;
  font-family: monospace;
  font-size: larger;
}
.fas far fa-keyboard {
  
  padding: 5rem;
  background-color: blue;
}
  img{
    background-color: white;
    padding: 1em;
    margin-left: 0.25rem;
  }
